<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        {% block meta %}
            <meta name="description" content="">
            <meta name="author" content="">
        {% endblock %}

        {% assets "common_css" %}
            <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
        {% endassets %}

        {% block css %}
        {% endblock %}
    </head>
<body>

<div class="wrapper" >
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} hidden" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <article class="main">
        <div class="">
        {% block body %}

        {% endblock %}
        </div>
    </article>
    <aside class="aside aside-1">
        <div class="silverflask-head">
            <h3>SilverFlask</h3>
            <div class="current_user">
                {{ current_user.name }}
                <a href="{{ url_for("user.logout") }}">Logout</a>
            </div>
        </div>
        <ul>
            <li><a href="{{ url_for("cms.pages") }}">Pages</a></li>
            <li><a href="{{ url_for("cms.assets") }}">Assets</a></li>
            <li><a href="{{ url_for("cms.edit_siteconfig") }}">Site Config</a></li>
            <li><a href="{{ url_for("SecurityController.form") }}">User</a></li>
        </ul>
    </aside>

    {% block aside_two %}
    {% endblock %}
</div>

<div class="modal" id="cropModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Crop Image
            </div>
            <div class="modal-body">
                <div ng-controller="imageCropController">
                    <div class="cropArea">
                        <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% assets "common_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% block js %}
{% endblock %}

</body>
</html>
