<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% block meta %}
        <meta name="description" content="">
        <meta name="author" content="">
    {% endblock %}

    {% assets "common_css" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}"/>
    {% endassets %}
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.3/css/jquery.dataTables.css"/>

    {% block css %}
    {% endblock %}
</head>

<body>

<div class="wrapper">
{#    <header class="header">#}
{#        <div class="container">#}
{#            {% with messages = get_flashed_messages(with_categories=true) %}#}
{#                {% if messages %}#}
{#                    {% for category, message in messages %}#}
{#                        <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>#}
{#                    {% endfor %}#}
{#                {% endif %}#}
{#            {% endwith %}#}
{#        </div>#}
{#    </header>#}
    <article class="main">
        {% block body %}

        {% endblock %}
    </article>
    <aside class="aside aside-1">
        <h3>SilverFlask</h3>
        <ul>
            <li><a href="/admin">Pages</a></li>
            <li><a href="/admin/assets">Assets</a></li>
            <li><a href="/admin/siteconfig">Site Config</a></li>
        </ul>
    </aside>
    <aside class="aside aside-2">
        {% block aside_two %}
        
        {% endblock %}
    </aside>
</div>

{% assets "common_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

{% block js %}
{% endblock %}

</body>
</html>
