<div class="async-upload-container">
  <div class="dropzone">
    <input type="hidden" name="{{ id }}" value="{{ value }}"/>
    <input type="file" name="{{ id }}_upload" value="{{ value }}" {% if multiple %}multiple{% endif %}/>
    <label class="open-file-dialog btn btn-primary" for="{{ id }}_upload">Select files</label>
{#    <a id="uploadfiles" href="javascript:;">[Upload files]</a>#}
        <div class="preview_image">
            {% if elem %}
                <img src="{{ elem.resize(400) }}">
            {% endif %}
        </div>
    </div>
  <div id="console"></div>
</div>