<div class="row">
<div class="col-md-12">
  {% for button in buttons %}
    <a class='btn btn-primary' href="{{ urls["add"] }}">{{ button.name }}</a>
  {% endfor %}
  <hr/>
</div>
</div>
<div class="row">
<div class="col-md-12">
<table id="assets" class="table gridfield"
       data-ajax-url="{{ urls["get"] }}"
       data-sort-url="{{ urls["sort"] }}"
       data-sortable="{% if sortable -%}True{%- endif %}"
       cellspacing="0" width="100%">
    <thead>
    <tr>
        {% for col in display_cols %}
            <th data-col="{{ col.name }}" data-hidden="{{ col.hidden }}">{{ col.label if col.label else col.name }}</th>
        {% endfor %}
        <th data-col="edit_url" data-renderer="render_actions"></th>
    </tr>
    </thead>
    <tbody>
    </tbody>

</table>
</div>
</div>
