<div class="livingdocs-editor-wrapper row"  data-name="{{ field_name }}">
    <div class="editor-container">
        <div class="doc-toolbar col-md-2">
            <h3>Add Content</h3>
            <div class="doc-blocks">

            </div>
            <div class="doc-block-properties">

            </div>
        </div>
        <div class="col-md-10 editor-section"></div>
        <textarea name="{{ field_name }}" id="{{ field_name }}"  class="livingdocs-field hidden" cols="30" rows="10"></textarea>
    </div>
</div>