<!doctype html>
<html lang="en">
<head>
  <title>{% if MetaTitle %}{{ MetaTitle }}{% else %}{{ name }}{% endif %} &raquo; {{ siteconfig.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta charset="UTF-8">
  <link rel="icon" href="{{ url_for('theme.static', filename='images/favicon.ico') }}"/>
  <link rel="stylesheet" href="{{ themed_css('reset.css') }}"/>
  <link rel="stylesheet" href="{{ themed_css('typography.css') }}"/>
  <link rel="stylesheet" href="{{ themed_css('form.css') }}"/>
  <link rel="stylesheet" href="{{ themed_css('layout.css') }}"/>
</head>
<body class="{{ class_name }} Page {% if not page.menu(level=1) %}no-sidebar{% endif %}"
<header>
  {% include theme('includes/header.html') %}
</header>
<div class="main" role="main">
    <div class="inner typography line">
      {% if page.menu(level=1) %}
        <aside class="sidebar unit size1of4">
          {% include theme('includes/sidebar.html') %}
        </aside>
      {% endif %}
      {% block content %}
      {% endblock %}
  </div>
</div>

{% include theme('includes/footer.html') %}
{% include 'silverflask_navigator.html' %}

</body>
</html>