<div class="dropdown">
    <button class="mui-btn mui-btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-mui-toggle="dropdown">
        Add Page
        <span class="caret"></span>
    </button>
    <ul class="mui-dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        {% for page_type in pagetypes() %}
            <li role="presentation"><a role="menuitem" tabindex="-1" href="{{ url_for('PagesCMSController.add_page', page_type=page_type) }}">{{ page_type }}</a></li>
        {% endfor %}
    </ul>
</div>
<div class="page-tree-container">
  <div class="page-tree">
    <div id="tree" data-json_url="{{ url_for('PagesCMSController.sitetree') }}" data-sort_url="{{ url_for("PagesCMSController.sitetree_sort") }}" data-properties='{{ pagetypes()|tojson }}'>
    </div>
  </div>
</div>
