.container {
  margin-top: 60px; }

.text-center {
  text-align: center; }

.editor-section {
  height: 100%; }

.editor-container {
  height: 700px; }

.cropArea {
  width: 100%;
  height: 600px; }

.snippet-controls {
  padding: 5px;
  border: 1px solid #aaaaaa;
  background: #f6f6f6; }
  .snippet-controls h4 {
    margin-top: 0; }
  .snippet-controls .btn {
    width: 100%; }
  .snippet-controls .lvd-form {
    margin-bottom: 10px; }
    .snippet-controls .lvd-form input, .snippet-controls .lvd-form select {
      width: 100%; }

.living-docs-editor-addcontent-btns ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  .living-docs-editor-addcontent-btns ul li {
    display: block;
    background: lightblue;
    color: darkblue;
    padding: 5px;
    margin: 5px;
    text-align: center;
    cursor: pointer; }
    .living-docs-editor-addcontent-btns ul li a {
      text-decoration: none; }
      .living-docs-editor-addcontent-btns ul li a:hover {
        text-decoration: none; }

.doc-toolbar {
  overflow: auto; }

.wrapper {
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap; }
  .wrapper > * {
    flex: 1 100%; }
  .wrapper .main {
    flex: 3 0px; }
  .wrapper .aside-1 {
    order: 1;
    flex: 1 100px;
    min-height: 100%;
    max-width: 150px; }
  .wrapper .aside-2 {
    order: 2;
    flex: 1 auto;
    max-width: 200px; }
  .wrapper .main {
    order: 3; }
  .wrapper .aside-1 {
    background: #0081c2; }
    .wrapper .aside-1 ul {
      margin: 0;
      padding: 0; }
      .wrapper .aside-1 ul li {
        display: block;
        border-bottom: 1px solid #f3f3f3;
        list-style: none; }
      .wrapper .aside-1 ul a {
        color: white;
        padding: 10px 10px;
        display: block;
        text-decoration: none; }
